<%- include('header'); -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Transacted</th>
    </tr>
  </thead>
  <tboby>
    <% for (const transaction of accountInfo.transactions) { %>
    <tr>
      <td><a href="/stock/<%=transaction['symbol']%>"><%=transaction["symbol"]%></a></td>
      <td><%=transaction["shares"]%></td>
      <td><%=transaction["price"]%></td>
      <td><%=transaction["time"]%></td>
    </tr>
    <% } %>
  </tboby>
</table>
<%- include('footer'); -%>
